#wall #tag-2 {
  background: url(../images/tag-2.png) no-repeat;
  z-index: 7;
  display: block;
}

.tag-1 {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 8;
  display: block;


  #wall #tag-4 {
    background: url(../images/tag-4.png) no-repeat;
    z-index: 5;
    display: block;

    body div#wall div.parent div > #tag-7.slick {
      background: url(../images/tag-7.png) no-repeat;
      z-index: 2;
      display: block;